body{
    background-color: #efefef;
    font-family: sans-serif;
    color: #14453d;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
      
}
.app::-webkit-scrollbar {
    width: 0 !important;
  }

.app{
    width:20rem ;
    height: 30rem;
    border:5px solid #14453d ;
    border-radius: 8px;
    padding: 3rem;
    background-color:#efefef ;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
    
    
    #tasks {
        display: grid;
        gap: .2rem;
        
    
      div{
        height: max-content;
        width: 16rem;
        background-color:#43c59e ;
        padding: .5rem 3rem;
        border-radius: .5rem;
        display: grid;
        gap: .1rem;
        span{
            overflow-x: hidden;
            overflow-y: hidden;
            
        }
        .options{
            justify-self:center;
            display: flex;
            gap:.7rem ;
            i{
                cursor: pointer;
            };
        }

        p{
            word-wrap: break-word;
        }
             }
   }  

    #addNew{
        width: 12rem;
        display: flex;
        background-color:#43c59e ;
        justify-content: space-between;
        padding: .5rem 1rem;
        border-radius: 20rem;
        cursor: pointer;
        .fa-plus{
            background-color:#3d7068;
            border-radius: 50%;
            padding: 0.3rem;
        }
    }
}
#msg{
    color: red;
}